
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box; 
}

body {
	display: flex;	
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	
}

h1 {
	font-weight: bold;
	margin: 0;
}


p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}


button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}


form {
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    width: 500px;
   
}

input {	
	border: none;
	padding: 12px 15px;	
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	position: relative;
	overflow: hidden;
	
	
}


.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


